body{
    margin: 0px;
    border: 0px;
    padding: px;
}
.banner{
    height: 100vh;
    padding: 0;
}
.banner img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}
.nextPage{
    position: fixed;
    bottom: 10px;
    right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
}
.previousPage{
    position: fixed;
    top: 10px;
    left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
}
.circulo{
    background-color: #1488cc;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.arrow{
    width: 24px;
    height: 24px;
    fill: rgb(200, 28, 131);
}
.regras{
    height: 100vh;
    display: flex;
    background-color: #d0d0d0;
}
.regras .contentBox{
    width: 100%;
    padding: 50px;
    background-color: #c0c0c0;
}
.regras .imgBox{
    width: 100%;
    background: url(../images/Mole.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.tabuleiro{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #00ff00;
}
.gramado{
    width: 536px;
    height: 536px;
    background-color: #008000;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    cursor: url(../images/hammer.png), crosshair;
    padding: 0px;
}
.gramado img{
    padding: 25px 50px 25px 50px;
    box-sizing: content-box;
    width: 76px;
    height: 61px;
}
.pontos {
    width: 536px;
    height: 536px;
    display: flex;
    justify-content: center
}
.pontos th{
    font-size: 50px;
    font-family: 'Bungee Spice', sans-serif;
    text-align: center;
}
.pontos td:first-child {
    font-size: 36px;
    font-family: 'Bungee Spice', sans-serif;
    text-align: right;
}
#start{
    width: 100%;
    font-size: 36px;
    border: 1px solid black;
}
.records{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.heading {
    font-size: 40px;
    font-family: 'Bungee Spice', sans-serif;
    color: #1488cc;
}
.records table{
    border-collapse: collapse;
    font-family: 'MedievalSharp', cursive;
}
.records th{
    background-color: #000000;
    color: #ffffff;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
    font-size: 36px;

}
.records td{
    padding-left: 30px;
    padding-right: 30px;
    font-size: 30px;
}
.records tr:nth-child(even){
    background-color: #c0c0c0;
}
.records td:first-child, td:nth-child(3){
    text-align: right;
}
.records td:nth-child(4){
    text-align: center;
}
.regras{
    flex-direction: column;
}
.regras .contentBox{
    width: unset;
}
.regras .imgBox{
    height: 100%;
}
.tabuleiro{
    flex-direction: column-reverse;
    height: 100%
}
.pontos th{
    font-size: 30px;
}
.pontos td:first-child {
    font-size: 20px;
}
.gramado{
    width: 400px;
    height: 400px;
}
.pontos {
    width: 400px;
    height: 400px;
}
.gramado img{
    padding: 10px 30px 10px 30px;
}