body{
    margin: 0px;
    border: 0px;
    padding: px;
}
.banner{
    height: 100vh;
    padding: 0;
}
.banner img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}
.nextPage{
    position: fixed;
    bottom: 10px;
    right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
}
.previousPage{
    position: fixed;
    top: 10px;
    left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
}