body{
    margin: 0px;
    border: 0px;
    padding: px;
}
.banner{
    height: 100vh;
    padding: 0;
}
.banner img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}
.nextPage{
    position: fixed;
    bottom: 10px;
    right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
}
.previousPage{
    position: fixed;
    top: 10px;
    left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
}
.circulo{
    background-color: #1488cc;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.arrow{
    width: 24px;
    height: 24px;
    fill: rgb(200, 28, 131);
}
.regras{
    height: 100vh;
    display: flex;
    background-color: #d0d0d0;
}
.regras .contentBox{
    width: 100%;
    padding: 50px;
    background-color: #c0c0c0;
}
.regras .imgBox{
    width: 100%;
    background: url(../images/Mole.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}